<ion-header>
  <ion-toolbar color="success">
    <ion-title class="ion-text-wrap" color="dark">Registro </ion-title>
    <ion-buttons slot="start">
      <ion-button color="dark" routerLink="../listar-cliente">
        <ion-icon name="chevron-back-outline"></ion-icon>Regresar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="conten1"  style="background-color: green;">

 
    <ion-card style="margin-top: 25%;" color="warning">
      <form [formGroup]="clientRegisterForm" (ngSubmit)="registerCliente()" color="warning">
        <!-- Radio buttons -->
        <ion-list lines="full" color="warning">
          <ion-item color="warning">
            <ion-label floating>
              <ion-icon name="person-circle-outline"></ion-icon>
              Identificación
            </ion-label>
            <ion-select formControlName="tipoIdentificacion" id="tipoIdentificacion" placeholder="Seleccionar">
              <ion-select-option value="RUC">RUC</ion-select-option>
              <ion-select-option value="CEDULA">CEDULA</ion-select-option>

            </ion-select>
          </ion-item>

          <ion-item lines="full" color="warning">

            <ion-label position="floating"> <ion-icon name="person-outline"></ion-icon> #Documentación:</ion-label>
            <ion-input formControlName="identificacionNumero" id="identificacionNumero" type="text"
              required></ion-input>
          </ion-item>
          <ion-item lines="full" color="warning">
            <ion-label position="floating"> <ion-icon name="text-outline"></ion-icon> Nombre:</ion-label>
            <ion-input formControlName="nombre" id="nombre" type="email" required></ion-input>
          </ion-item>
          <ion-item lines="full" color="warning">
            <ion-label position="floating"><ion-icon name="text-outline"></ion-icon> Dirección:</ion-label>
            <ion-input formControlName="direccion" id="direccion" type="text" required></ion-input>
          </ion-item>
          <ion-item lines="full" color="warning">
            <ion-label position="floating"><ion-icon name="call-outline"></ion-icon> Teléfono:</ion-label>
            <ion-input formControlName="telefono" id="telefono" type="text" required></ion-input>
          </ion-item>
          <ion-item lines="full" color="warning">
            <ion-label position="floating">
              <ion-icon name="mail-outline"></ion-icon> Email:</ion-label>
            <ion-input formControlName="correoElectronico" id="correoElectronico" type="text" required></ion-input>
          </ion-item>
        </ion-list>
        <ion-row>
          <ion-col>
            <ion-button type="submit" color="tertiary" expand="block">Registrar</ion-button>
          </ion-col>
        </ion-row>
      </form>
    </ion-card>
 

</ion-content>