<ion-header>
  <ion-toolbar color="success">
    <ion-title class="ion-text-center" color="dark">SECCION SERVICIOS</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button color="dark" menu="main-menu"></ion-menu-button>
    </ion-buttons>

  </ion-toolbar>

</ion-header>
<ion-button color="tertiary" routerLink="../crear-detalles">
  <ion-icon name="bag-add-sharp"></ion-icon>
  Emitir Factura
</ion-button>

<ion-content>

  <ion-card color="warning" class="factura">

    <ion-avatar style="margin: auto;">

      <img alt="Silhouette of a person's head" src="../../assets/icon/fac.png" />

    </ion-avatar>

    <ion-card-content>
      <ion-buttons>
        <ion-button id="detalles" color="tertiary" expand="full" style="margin: auto;">
          <ion-icon name="reorder-four-outline"></ion-icon>
          Detalles
        </ion-button>
        <ion-button id="anular" color="danger" expand="full" strong="margin=auto">
          <ion-icon name="trash-sharp"></ion-icon>
          Anular
        </ion-button>
      </ion-buttons>
    </ion-card-content>
  </ion-card>

</ion-content>