.card-item{
    img{
        display:block;
        margin:auto;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        border: 7px solid #5e7ccc;
    }
}
.button{
    color: black;
}