<ion-header>
  <ion-toolbar color="success">
    <ion-title class="ion-text-center">Emisión Factura</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="warning">
  <ion-card class="crearFactura" color="warning">

    <ion-card-subtitle class="ion-text-center">Datos Cliente</ion-card-subtitle>

    <ion-header>
      <ion-item>
        <ion-input #identificador id="identificacionNumero" type="text" class="input1"
          placeholder="Ingrese # identificación" required class="ion-text-center"></ion-input>


        <ion-button color="tertiary" slot="end" (click)="buscarClienteIdentificacion(''+identificador.value)">
          <ion-icon name="search-outline"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-header>
  </ion-card>





  <ion-card-content class="hola">
    <ion-card>
      <ion-item color="light">
        <ion-label>Nombre:</ion-label>
        <ion-input [(ngModel)]="cliente.nombre" id="nombre" type="text" class="ion-text-center"
          value="{{cliente.nombre}}" readOnly></ion-input>
      </ion-item>

      <ion-item color="light">
        <ion-label>Email:</ion-label>
        <ion-input [(ngModel)]="cliente.correoElectronico" id="email" type="text" class="ion-text-center"
          value="{{cliente.correoElectronico}}" readOnly style="font-size: 10px;"></ion-input>
      </ion-item>
    </ion-card>
    <form [formGroup]="facturaRegisterForm" (ngSubmit)="cargarfactura()">
      <ion-input class="input1" formControlName="clienteId" [(ngModel)]="cliente.id" id="clienteId" type="text"
        class="ion-text-center" value="{{cliente.id}}" readOnly color="warning"></ion-input>
      <ion-item color="warning">
        <ion-button type="submit" color="tertiary" style=" margin: 0 auto;
              display: inline-block;">Generar
          Factura</ion-button>
      </ion-item>

    </form>

    <ion-card color="light">
      <ion-card-subtitle class="ion-text-center">Productos Facturar</ion-card-subtitle>
      <ion-card *ngFor="let detalles of detalles1" style="background-color: white;">


        <ion-item lines="lines" color="warning">
          <ion-thumbnail slot="start">

            <img src="https://cdn-icons-png.flaticon.com/512/1458/1458564.png" />
          </ion-thumbnail>
          <ion-list style="background-color:var(--ion-color-warning);">

            <ion-label color="dark">Producto: {{detalles.descripcion}}</ion-label>


            <ion-label color="dark">Pecio U: {{detalles.precioUnitario}} $</ion-label>

            <ion-label color="dark">Cantidad: {{detalles.cantidad}}</ion-label>
            <ion-label color="dark">Total: {{detalles.total}} $</ion-label>
          </ion-list>
        </ion-item>



      </ion-card>
      <ion-item lines="lines" color="warning">
        <ion-title class="ion-text-center">Total</ion-title>

        <ion-list style="background-color:var(--ion-color-warning);">

          <ion-label color="dark">Subtotal: {{subtotal}} $</ion-label>


          <ion-label color="dark">Iva: {{impuesto}} $</ion-label>


          <ion-label color="dark">Total: {{totalF}} $</ion-label>
        </ion-list>
      </ion-item>
    </ion-card>
    <ion-card>

    </ion-card>








  </ion-card-content>


</ion-content>