<ion-header>
  <ion-toolbar>
    <ion-title>Formulario de registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form [formGroup]="userRegisterForm" (ngSubmit)="register()">
    <ion-item>
      <ion-label>
        <ion-icon name="mail-outline"></ion-icon>
      </ion-label>
      <ion-input formControlName="username" id="username" type="text" placeholder="Correo electrónico *" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>
        <ion-icon name="lock-open-outline"></ion-icon>
      </ion-label>
        <ion-input formControlName="password" id="password" type="password" placeholder="Contraseña *" required></ion-input>      
    </ion-item>      

    <ion-item>
      <ion-label>
        <ion-icon name="lock-open-outline"></ion-icon>
      </ion-label>
        <ion-input formControlName="confirmPassword" id="confirmPassword" type="password" placeholder="Confirmar Contraseña *" required></ion-input>      
    </ion-item>        

    <ion-button type="submit" expand="block">Registrarse</ion-button>
  
  </form>   
</ion-content>
