<ion-header>
  <ion-toolbar color="success">
    <ion-title color="dark" class="ion-align-items-center">Formulario de registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content1">
  
    <form [formGroup]="userRegisterForm" (ngSubmit)="register()"  >

    <ion-card></ion-card>
      <ion-label position="floating">
        <ion-icon name="person-outline"></ion-icon>
        Usuario: *</ion-label>

      <ion-input formControlName="username" id="username" type="text" required=""></ion-input>






      <ion-label position="floating">
        <ion-icon name="lock-open-outline"></ion-icon> Contraseña: *
      </ion-label>
      <ion-input formControlName="password" id="password" type="password" required  style="background-color: white; border-radius: 36px;" ></ion-input>



      <ion-label position="floating">
        <ion-icon name="lock-open-outline"></ion-icon> Confirmar Contraseña: *
      </ion-label>
      <ion-input formControlName="confirmPassword" id="confirmPassword" type="password" required></ion-input>


      <ion-button type="submit" expand="block" color="tertiary">Registrarse</ion-button>

    </form>

</ion-content>